<div id="wallets">
  <%= form_with url: "/wallet/items", class: "watchlist_form", method: :post do |form| %>
    <%= form.text_field :symbol, placeholder: "Add a new asset", class: "watchlist_form__input", required: true %>
    <%= form.submit "Add", class: "watchlist_form__button" %>
  <% end %>

  <% if @wallet_items.present? %>
    <ul class="wallet">
      <% @wallet_items.each do |item| %>
        <li class="box">
          <%= item.symbol %> <%= Money.from_cents(item.last_quote_price, item.currency).format %>
          <%= button_to 'Delete', { controller: "wallet_items", action: "destroy", id: item.id }, method: :delete %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Your wallet is empty</p>
  <% end %>
</div>
